.AboutMeTitle{
    background-color: #2b6777;
    color: white;
    border-radius: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 22rem;
    margin-top: 6rem
}

.AboutMeContainer{
    min-height: 90vh
}

.AboutMeInfo{
    font-size: 200%;
    max-width: 82%;
    margin: auto;
    padding: 2rem;
}