.projectsContainer{
    background-color: #f2f2f2;
    margin-top: 2rem;
}

.cardContainer{
    margin: auto;
    max-width: 65%;
    padding: 1.5rem;
}

.projectsTitle{
    justify-content: center;
    display: flex;
    background-color: #2b6777;
    color: white  
}