.ResumeContainer{
    background-color: #f2f2f2;
}


@media only screen and (min-width: 1170px){
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        position: absolute;
        width: 100%;
        left: 124%;
        color: black;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
}

.vertical-timeline-element-icon bounce-in{
    background: rgb(43, 103, 119)
}