.skillsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

.skillsList{
    font-size: x-large;
    margin: auto;
    list-style: none;
}

.languageTitle{
    font-size: xx-large;
}

.frameworkTitle{
    font-size: xx-large;
}

.databaseTitle{
    font-size: xx-large;
}

.toolsTitle{
    font-size: xx-large;
}
