.skillsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem
}

.skillsList{
    font-size: x-large;
    margin: auto;
    list-style: none;
}

.languageTitle{

}

.frameworkTitle{

}

.databaseTitle{

}

.toolsTitle{

}
